*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  display:flex;
  min-height:100vh;
}

/* Nav */
nav{
  background:#D7E8D4;
  flex:1;
  padding:1em;
}

/* Main */
main{
  flex:5;
  display:flex;
  flex-direction:column;
}

/* Header & Footer */
header, footer{
  background:yellowgreen;
  height:20vh;
  padding:1em;
}

/* Content Section */
.content{
  display:flex;
  flex:1;
}

/* Article */
.content > article{
  flex:3 1 0%;
  min-height:60vh;
  padding:1em;
}

/* Aside */
.content > aside{
  flex:1 1 0%;
  background:#F3F6DA;
  padding:1em;
}
